@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MasterData</h1>
    <p class="lead">MasterData - система управления нормативно-справочной информацией</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Руководство по началу работы</h2>
        <p>
            Система позволяет синхронизировать однородные справочники в разных информационных базах.
            Помогает поддерживать корректность и непротиворечивость данных в справочниках.
        </p>
        <p>
            Для начала работы настройте список подключенных информационных систем (узлов).
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Узлы", "Index", "Nodes", new { area = "" }, null)</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Основные разделы</h2>
        <p>Справочники, доступные для просмотра и редактирования</p>
        <p><a class="btn btn-default" @Html.ActionLink("Контрагенты", "Index", "Contractors", new { area = "" }, null)</a></p>
        <p></p>
        <p><a class="btn btn-default" @Html.ActionLink("Связи", "Index", "Links", new { area = "" }, null)</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>Описание интерфейса программного взаимодействия с системой</p>
        <p><a class="btn btn-default" @Html.ActionLink("Web API help page", "Index", "Help", new { area = "" }, null)</a></p>

    </div>
</div>